.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgba(204, 198, 198, 0.137);
    border-bottom: 2px solid $color-secondary;
    border-radius: 5px;
    width: $form-inputs-width;
    height: 30px;
  }
  .todo-content-box {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    ul {
      padding: 10px 5px;
      font-size: 1.6rem;
      width: 300px;
      position: relative;
      li {
        margin-bottom: 5px;
        list-style: none;
        width: $form-inputs-width;
      }
      p {
        word-wrap: normal;
        overflow-x: hidden;
      }
      button {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 20px;
        right: 20px;
        border: none;
        border-radius: 20px;
        &:focus {
          outline: none;
        }
        &:active {
          outline: none;
          background-color: rgba(204, 198, 198, 1.137);
        }
      }
    }
  }
}
